################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1/v15
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
